---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/blogLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { title: post.slug },
        props: post,
    }));
}

const post = Astro.props;
// const { Content } = await post.render();
const fileContent = post.data;
console.log('[...title] props is :', post);
---

<BlogLayout
    title={fileContent.title}
    description={fileContent.description}
    author={fileContent.author}
    pubDate={fileContent.pubDate}
    heroImage={fileContent.heroImage}
>
    <p>关于自己</p>
</BlogLayout>

<!-- <BaseLayout>
    <Content />
</BaseLayout> -->
