---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./baseLayout.astro";
import Tag from '../components/tag.vue'
import { getRandomColor } from '../util/index'
type Props = CollectionEntry<"blog">["data"];

const { title, description, author, pubDate, heroImage, tags } = Astro.props;
// console.log("blog layout: ", Astro.props);

---

<BaseLayout>
    <article>
        <header>
            <div class="author">
                <div class="hero-image">
                    {heroImage && <img src={heroImage} alt="" />}
                </div>
                {author}
            </div>
            <div class="title">
                <h3>{title}</h3>
                <div class="description">
                    {description}
                    {
                        pubDate && (
                            <div class="last-updated-on">
                                Published: {pubDate}
                            </div>
                        )
                    }
                </div>
                <div class="tags">
                    {
                        tags.map((tag, index) => {
                            return (
                                <Tag color={getRandomColor()} size={1}>
                                    {tag}
                                </Tag>
                            )
                        })
                    }
                </div>
            </div>
        </header>
        <main>
            <slot />
        </main>
    </article>
</BaseLayout>

<style class="scss" scoped>
    article {
        color: #000;
        background: #fff6df;
        padding: 20px;
        header {
            display: flex;
            justify-content: space-between;
        }
        .hero-image {
            width: 50px;
            height: 50px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .title {
            display: flex;
            flex-direction: column;
            .description {
                color: #777;
                font-size: 12px;
                text-align: right;
            }
            .tags {
                display: flex;
            }
        }
        main {
            text-indent: 20px;
        }
    }
</style>
